<nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
  <div class="flex flex-wrap justify-between items-center">
    <div class="flex justify-start items-center">
      <button data-drawer-target="drawer-navigation" data-drawer-toggle="drawer-navigation" aria-controls="drawer-navigation"
              class="p-2 mr-2 text-gray-600 rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
        </svg>
        <svg aria-hidden="true" class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Toggle sidebar</span>
      </button>
      <%= link_to "Orthodox Journey", root_path, class: "self-center text-2xl font-semibold whitespace-nowrap dark:text-white mr-4" %>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <%= link_to "Books", books_path, class: ["nav-link", ("active" if request.path == books_path)], aria: { current: ("page" if request.path == books_path) } %>
        </li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div class="flex items-center lg:order-2">
        <button type="button" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown"
                class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600">
          <span class="sr-only">Open user menu</span>
          <%= image_tag gravatar_url_for(current_user.email), class: "w-8 h-8 rounded-full" %>
        </button>
        <!-- Dropdown menu -->
        <div id="dropdown"
             class="hidden z-50 my-4 w-56 text-base list-none bg-white divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl">
          <div class="py-3 px-4">
            <span class="block text-sm font-semibold text-gray-900 dark:text-white"><%= current_user.name %></span>
            <span class="block text-sm text-gray-900 truncate dark:text-white"><%= current_user.email %></span>
          </div>
          <ul class="py-1" aria-labelledby="dropdown">
            <% if user_signed_in? && current_user.admin? %>
              <li><%= link_to "Admin dashboard", admin_root_path, class: "profile-nav-link" %></li>
            <% else %>
              <li><%= link_to "User dashboard", user_root_path, class: "profile-nav-link" %></li>
              <li><%= link_to "Account settings", edit_user_registration_path(current_user), class: "profile-nav-link" %></li>
            <% end %>
          </ul>
          <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
            <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "profile-nav-link" %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="flex items-center lg:order-2">
        <%= link_to "Sign in", new_user_session_path, class: "text-gray-800 block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
        <%= link_to "Sign up", new_user_registration_path, class: "text-gray-800 block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
      </div>
    <% end %>
  </div>
</nav>
