<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
    <%= user.name %>
  </th>
  <td class="px-6 py-4"><%= user.email %></td>
  <td class="px-6 py-4"><%= user.role %></td>
  <td class="px-6 py-4"><%= user.sign_in_count %></td>
  <td class="px-6 py-4"><%= sign_in_date %></td>
  <td class="px-6 py-4 text-right">-</td>
</tr>
